{% extends 'base.html' %}
{% block content %}
    <div class="entireboard">
        <img class="img2" src="{{player.image}}" alt="선수 사진">
        <div class="upperdetail">
            <span class="largetextd named">#{{player.no}} {{player.name}}, {{player.position}}</span>
            <span class="largetextd">{{player.birth|date:"Y/n/j"}}, {{player.enter}}년 입단, 연봉 
                {% if player.pay > 9999 %}
                {{player.altpay}}억
                {%else%}
                {{player.pay}}만
                {%endif%}
            </span>
            {% if player.pitcherdata_set.count %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{{player.name}}</th>
                <th>경기수</th>
                <th>이닝</th>
                <th>평균자책점</th>
                <th>삼진</th>
                <th>승리</th>
                <th>패배</th>
                <th>세이브</th>
                <th>홀드</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    통산
                </th>
                <th>
                    {{player.games}}
                </th>
                <th>
                    {{player.pitcherdata_set.all.first.inning}}
                </th>
                <th>
                    {{player.pitcherdata_set.all.first.ERA}}
                </th>
                <th>
                    {{player.pitcherdata_set.all.first.K}}
                </th>
                <th>
                    {{player.pitcherdata_set.all.first.win}}
                </th>
                <th>
                    {{player.pitcherdata_set.all.first.loss}}
                </th>
                <th>
                    {{player.pitcherdata_set.all.first.saves}}
                </th>
                <th>
                    {{player.pitcherdata_set.all.first.hold}}
                </th>

            </tr>
            <tr>
                <th>
                    2023시즌
                </th>
                <th>
                    {{player.curgames}}
                </th>
                <th>
                    {{player.pitcherdatals_set.all.first.inningl}}
                </th>
                <th>
                    {{player.pitcherdatals_set.all.first.ERAl}}
                </th>
                <th>
                    {{player.pitcherdatals_set.all.first.Kl}}
                </th>
                <th>
                    {{player.pitcherdatals_set.all.first.winl}}
                </th>
                <th>
                    {{player.pitcherdatals_set.all.first.lossl}}
                </th>
                <th>
                    {{player.pitcherdatals_set.all.first.savesl}}
                </th>
                <th>
                    {{player.pitcherdatals_set.all.first.holdl}}
                </th>

            </tr>
        </tbody>
    </table>
    {% else %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{{player.name}}</th>
                <th>경기수</th>
                <th>타수</th>
                <th>타율</th>
                <th>출루율</th>
                <th>장타율</th>
                <th>안타</th>
                <th>홈런</th>
                <th>볼넷</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    통산
                </th>
                <th>
                    {{player.games}}
                </th>
                <th>
                    {{player.batterdata_set.all.first.PA}}
                </th>
                <th>
                    {{player.batterdata_set.all.first.AVG}}
                </th>
                <th>
                    {{player.batterdata_set.all.first.OBP}}
                </th>
                <th>
                    {{player.batterdata_set.all.first.SLG}}
                </th>
                <th>
                    {{player.batterdata_set.all.first.hit}}
                </th>
                <th>
                    {{player.batterdata_set.all.first.homerun}}
                </th>
                <th>
                    {{player.batterdata_set.all.first.BOB}}
                </th>

            </tr>
            <tr>
                <th>
                    2023시즌
                </th>
                <th>
                    {{player.curgames}}
                </th>
                <th>
                    {{player.batterdatals_set.all.first.PAl}}
                </th>
                <th>
                    {{player.batterdatals_set.all.first.AVGl}}
                </th>
                <th>
                    {{player.batterdatals_set.all.first.OBPl}}
                </th>
                <th>
                    {{player.batterdatals_set.all.first.SLGl}}
                </th>
                <th>
                    {{player.batterdatals_set.all.first.hitl}}
                </th>
                <th>
                    {{player.batterdatals_set.all.first.homerunl}}
                </th>
                <th>
                    {{player.batterdatals_set.all.first.BOBl}}
                </th>

            </tr>
        </tbody>
    </table>
    {% endif %}
    <a href="javascript:void(0)" data-uri="{% url 'doobo:player_voteu' player.id  %}"
               class="recommend btn btn-sm btn-outline-secondary"> 좋아요  {% for i in player.voteru.all%}
               {%if i.id == user.id %}
               취소
               {%endif%}
               {%endfor%}
                <span class="badge rounded-pill bg-success navy">{{player.voteru.count}}</span>
            </a>
<a href="javascript:void(0)" data-uri="{% url 'doobo:player_voted' player.id  %}"
            class="recommend btn btn-sm btn-outline-secondary">싫어요 {% for i in player.voterd.all%}
            {%if i.id == user.id %}
            취소
            {%endif%}
            {%endfor%}
             <span class="badge rounded-pill bg-success red">{{player.voterd.count}}</span>
         </a>
</div>

<h5 class="border-bottom my-3 py-2">{{player.reply_set.count}}개의 댓글이 있습니다.</h5>
    {% for answer in reply.object_list.all %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ answer.content }}<div class="badge bg-light text-dark p-2 text-start" style="padding-bottom: 0!important;" >
                <div class="mb-2">{{ answer.author.username }} {% if answer.modify_date %}
                    (수정됨)
                    {% endif %}</div>
            </div></div>
            <a href="javascript:void(0)" data-uri="{% url 'doobo:reply_voted' answer.id  %}"
            class="recommend btn btn-sm btn-outline-secondary "style="float:right!important" >싫어요 {% for i in answer.voterd.all%}
            {%if i.id == user.id %}
            취소
            {%endif%}
            {%endfor%}
             <span class="badge rounded-pill bg-success red">{{answer.voterd.count}}</span>
            </a>
            <a href="javascript:void(0)" data-uri="{% url 'doobo:reply_voteu'  answer.id  %}"
               class="recommend btn btn-sm btn-outline-secondary"style="float:right!important"> 좋아요  {% for i in answer.voteru.all%}
               {%if i.id == user.id %}
               취소
               {%endif%}
               {%endfor%}
                <span class="badge rounded-pill bg-success navy">{{answer.voteru.count}}</span>
            </a>
           
         
         {% if request.user == answer.author %}
         <br>
         <br>
            <div class="my-3" style="float:right!important; margin-top:0px!important;margin-bottom:0px!important;">
                
                <a href="{% url 'doobo:reply_modify' answer.id  %}" 
                class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="#" class="delete btn btn-sm btn-outline-secondary "
               data-uri="{% url 'doobo:reply_delete' answer.id  %}">삭제</a>
               
            </div>
            {% endif %}
        </div>
    </div>
    
    {%endfor%}
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if reply.has_previous %}
        <li class="page-item">
            <a class="page-link textnavy" href="?page={{ reply.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link textnavy gray" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in reply.paginator.page_range %}
        {% if page_number >= reply.number|add:-5 and page_number <= reply.number|add:5 %}
        {% if page_number == reply.number %}
        <li class="page-item active navy" aria-current="page">
            <a class="page-link navy" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item textnavy">
            <a class="page-link textnavy" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if reply.has_next %}
        <li class="page-item">
            <a class="page-link textnavy" href="?page={{ reply.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled ">
            <a class="page-link textnavy gray" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <form action="{% url 'doobo:reply_create' player.id %}" method="post" class="my-3">
        {% csrf_token %}
        <div class="mb-3">
            <label for="content" class="form-label">답변내용</label>
            <textarea {% if not user.is_authenticated %}disabled{% endif %}
              name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="답변등록" class="btn btn-primary" style="background-color:#131230!important;">
    </form>
    
    
</div>


{%endblock%}