{% extends 'base.html' %}
{% block content %}
    <div class="entireboard">
        <img class="img2" src="{{player.image}}" alt="선수 사진">
        <div class="upperdetail">
            <span class="largetextd named">#{{player.no}} {{player.name}}, {{player.position}}</span>
            <span class="largetextd">{{player.birth|date:"Y/n/j"}}, {{player.enter}}년 입단, 연봉 
                {% if player.pay > 9999 %}
                {{player.altpay}}억
                {%else%}
                {{player.pay}}만
                {%endif%}
            </span>
            {% if player.pitcherdata_set.count %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{{player.name}}</th>
                <th>경기수</th>
                <th>이닝</th>
                <th>평균자책점</th>
                <th>삼진</th>
                <th>승리</th>
                <th>패배</th>
                <th>세이브</th>
                <th>홀드</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    통산
                </th>
                <th>
                    {{player.games}}
                </th>
                <th>
                    {{player.pitcherdata_set.all.first.inning}}
                </th>
                <th>
                    {{player.pitcherdata_set.all.first.ERA}}
                </th>
                <th>
                    {{player.pitcherdata_set.all.first.K}}
                </th>
                <th>
                    {{player.pitcherdata_set.all.first.win}}
                </th>
                <th>
                    {{player.pitcherdata_set.all.first.loss}}
                </th>
                <th>
                    {{player.pitcherdata_set.all.first.saves}}
                </th>
                <th>
                    {{player.pitcherdata_set.all.first.hold}}
                </th>

            </tr>
            <tr>
                <th>
                    2023시즌
                </th>
                <th>
                    {{player.curgames}}
                </th>
                <th>
                    {{player.pitcherdatals_set.all.first.inning}}
                </th>
                <th>
                    {{player.pitcherdatals_set.all.first.ERA}}
                </th>
                <th>
                    {{player.pitcherdatals_set.all.first.K}}
                </th>
                <th>
                    {{player.pitcherdatals_set.all.first.win}}
                </th>
                <th>
                    {{player.pitcherdatals_set.all.first.loss}}
                </th>
                <th>
                    {{player.pitcherdatals_set.all.first.saves}}
                </th>
                <th>
                    {{player.pitcherdatals_set.all.first.hold}}
                </th>

            </tr>
        </tbody>
    </table>
    {% else %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{{player.name}}</th>
                <th>경기수</th>
                <th>타수</th>
                <th>타율</th>
                <th>출루율</th>
                <th>장타율</th>
                <th>안타</th>
                <th>홈런</th>
                <th>볼넷</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    통산
                </th>
                <th>
                    {{player.games}}
                </th>
                <th>
                    {{player.batterdata_set.all.first.PA}}
                </th>
                <th>
                    {{player.batterdata_set.all.first.AVG}}
                </th>
                <th>
                    {{player.batterdata_set.all.first.OBP}}
                </th>
                <th>
                    {{player.batterdata_set.all.first.SLG}}
                </th>
                <th>
                    {{player.batterdata_set.all.first.hit}}
                </th>
                <th>
                    {{player.batterdata_set.all.first.homerun}}
                </th>
                <th>
                    {{player.batterdata_set.all.first.BOB}}
                </th>

            </tr>
            <tr>
                <th>
                    2023시즌
                </th>
                <th>
                    {{player.curgames}}
                </th>
                <th>
                    {{player.batterdatals_set.all.first.PA}}
                </th>
                <th>
                    {{player.batterdatals_set.all.first.AVG}}
                </th>
                <th>
                    {{player.batterdatals_set.all.first.OBP}}
                </th>
                <th>
                    {{player.batterdatals_set.all.first.SLG}}
                </th>
                <th>
                    {{player.batterdatals_set.all.first.hit}}
                </th>
                <th>
                    {{player.batterdatals_set.all.first.homerun}}
                </th>
                <th>
                    {{player.batterdatals_set.all.first.BOB}}
                </th>

            </tr>
        </tbody>
    </table>
    {% endif %}
    <a href="javascript:void(0)" data-uri="{% url 'doobo:player_voteu' player.id  %}"
               class="recommend btn btn-sm btn-outline-secondary"> 좋아요  {% for i in player.voteru.all%}
               {%if i.id == user.id %}
               취소
               {%endif%}
               {%endfor%}
                <span class="badge rounded-pill bg-success navy">{{player.voteru.count}}</span>
            </a>
<a href="javascript:void(0)" data-uri="{% url 'doobo:player_voted' player.id  %}"
            class="recommend btn btn-sm btn-outline-secondary">싫어요 {% for i in player.voterd.all%}
            {%if i.id == user.id %}
            취소
            {%endif%}
            {%endfor%}
             <span class="badge rounded-pill bg-success red">{{player.voterd.count}}</span>
         </a>
</div>

<h5 class="border-bottom my-3 py-2">{{player.reply_set.count}}개의 댓글이 있습니다.</h5>
    {% for answer in player.reply_set.all %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ answer.content }}</div>
            <div class="badge bg-light text-dark p-2 text-start" style="float:left!important">
                <div class="mb-2">{{ answer.author.username }}</div>
                <div>{{ answer.create_date }}</div>
            </div>
            {% if answer.modify_date %}
            <div class="badge bg-light text-dark p-2 text-start mx-3"style="float:left!important">
                <div class="mb-2">modified at</div>
                <div>{{ answer.modify_date }}</div>
            </div>
            {% endif %}
            <a href="javascript:void(0)" data-uri="{% url 'doobo:reply_voteu'  answer.id  %}"
               class="recommend btn btn-sm btn-outline-secondary"> 좋아요  {% for i in answer.voteru.all%}
               {%if i.id == user.id %}
               취소
               {%endif%}
               {%endfor%}
                <span class="badge rounded-pill bg-success navy">{{answer.voteru.count}}</span>
            </a>
            <a href="javascript:void(0)" data-uri="{% url 'doobo:reply_voted' answer.id  %}"
            class="recommend btn btn-sm btn-outline-secondary " >싫어요 {% for i in answer.voterd.all%}
            {%if i.id == user.id %}
            취소
            {%endif%}
            {%endfor%}
             <span class="badge rounded-pill bg-success red">{{answer.voterd.count}}</span>
         </a>
            <div class="my-3" style="float:right!important">
                {% if request.user == answer.author %}
                <a href="{% url 'doobo:reply_modify' answer.id  %}" 
                class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="#" class="delete btn btn-sm btn-outline-secondary "
               data-uri="{% url 'doobo:reply_delete' answer.id  %}">삭제</a>
                {% endif %}
            </div>
            
        </div>
    </div>
    {%endfor%}
    <form action="{% url 'doobo:reply_create' player.id %}" method="post" class="my-3">
        {% csrf_token %}
        <div class="mb-3">
            <label for="content" class="form-label">답변내용</label>
            <textarea {% if not user.is_authenticated %}disabled{% endif %}
              name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="답변등록" class="btn btn-primary" style="background-color:#131230!important;">
    </form>
    
    
</div>


{%endblock%}