{% extends 'base.html' %}
{% block content %}
    <div class="entireboard">
        
        <div style="float:left;width: 100%; margin-bottom: 50px;" >
            <h5>정렬 기준:</h5>
            <a href="?sort=1" class="btn btn-primary" style="background-color:#131230!important;">등번호순</a>
            <a href="?sort=2" class="btn btn-primary" style="background-color:#131230!important;">좋아요순</a>
            <a href="?sort=3" class="btn btn-primary" style="background-color:#131230!important;">싫어요순</a>
            <a href="?sort=4" class="btn btn-primary" style="background-color:#131230!important;">댓글순</a>
        </div>
    {% if player_list %}
    <div class="tpos"><h1>투수</h1></div>
    {% for player in player_list %}
    {% if player.pitcherdata_set.count %}
    
    <a href="{% url 'doobo:detail' player.id %}">
        <div class="box">
            <img class="img" src="{{player.image}}" alt="선수 사진">
            <div class="upperinfo">
                <span class="largetext">#{{player.no}}</span><br>
                <span class="largetext">{{player.name}}</span><br>
                <span class="largetext">{{player.position}}</span><br>
                
            </div>
            <div class="lower">
                <span class="smalltext">{{player.birth|date:"Y/n/j"}}</span><br>
                <span class="smalltext">{{player.enter}}년 입단, 연봉 
                {% if player.pay > 9999 %}
                {{player.altpay}}억
                {%else%}
                {{player.pay}}만
                {%endif%}</span><br>
                <span class="smalltext">통산 방어율 {{player.pitcherdata_set.all.first.ERA}}</span><br>
                <span class="smalltext">{{player.handtype}}</span><br>
                <br>
                <span class="smalltext">댓글 {{player.reply_set.count}}개, 좋아요 {{player.voteru.count}}개, 싫어요 {{player.voterd.count}}개</span>
            </div>
        </div>
    </a>
    
    {% endif %}
    {%endfor%}
    <div class="tpos"><h1>타자</h1></div>
    {% for player in player_list %}
    {% if player.batterdata_set.count %}
    <a href="{% url 'doobo:detail' player.id %}">
        <div class="box">
            <img class="img" src="{{player.image}}" alt="선수 사진">
            <div class="upperinfo">
                <span class="largetext">#{{player.no}}</span><br>
                <span class="largetext">{{player.name}}</span><br>
                <span class="largetext">{{player.position}}</span><br>
                
            </div>
            <div class="lower">
                <span class="smalltext">{{player.birth|date:"Y/n/j"}}</span><br>
                <span class="smalltext">{{player.enter}}년 입단, 연봉 
                {% if player.pay > 9999 %}
                {{player.altpay}}억
                {%else%}
                {{player.pay}}만
                {%endif%}</span><br>
                <span class="smalltext">통산 타율 {{player.batterdata_set.all.first.AVG}}</span><br>
                <span class="smalltext">{{player.handtype}}</span><br>
                <br>
                <span class="smalltext">댓글 {{player.reply_set.count}}개, 좋아요 {{player.voteru.count}}개, 싫어요 {{player.voterd.count}}개</span><br>
            </div>
        </div>
    </a>
    
    {% endif %}
    {%endfor%}
    {% endif %}
    {% if user.verified_set %}
    <div style="float:left;width: 100%; margin-bottom: 50px;" >
        <a href="{% url 'doobo:pitcher_add' %}" class="btn btn-primary" style="background-color:#131230!important;">투수 등록</a>
        <a href="{% url 'doobo:batter_add' %}" class="btn btn-primary" style="background-color:#131230!important;">타자 등록</a>
    </div>
    {%endif%}
</div>
{%endblock%}